.area {
    display: flex;
    max-width: 800px;
    flex-direction: column;
}

.sections {
    display: flex;
    margin-top: 20px;
    vertical-align: 2px;
}

.section {
    background: gainsboro;
    border-radius: 2px;
    flex-grow: 1;
    height: 30px;
}

.section+.section {
    margin-left: 10px;
}

.message {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}